* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u0_normal.png");
}

* html .u2_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u2_mouseOver.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u2_normal.png");
}

* html .u4_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u4_mouseOver.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u4_normal.png");
}

* html .u7_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u7_mouseOver.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u7_normal.png");
}

* html .u9_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u9_mouseOver.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u9_normal.png");
}

* html .u11_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u11_mouseOver.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u13_normal.png");
}

* html .u15_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u15_mouseOver.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u15_normal.png");
}

* html .u17_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u17_mouseOver.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u17_normal.png");
}

* html .u20_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u20_mouseOver.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u20_normal.png");
}

* html .u22_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u20_mouseOver.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u20_normal.png");
}

* html .u24_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u24_mouseOver.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u24_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u13_normal.png");
}

* html .u28_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u28_mouseOver.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u28_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u13_normal.png");
}

* html .u32_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u32_mouseOver.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u32_normal.png");
}

* html .u34_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u34_mouseOver.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u34_normal.png");
}

* html .u36_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u36_mouseOver.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u36_normal.png");
}

* html .u38_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u38_mouseOver.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u13_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u13_normal.png");
}

* html .u44_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u20_mouseOver.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u20_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u46_normal.png");
}

* html .u48_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u48_menu.png");
}

* html .u50_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_mouseOver.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_normal.png");
}

* html .u52_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_mouseOver.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_normal.png");
}

* html .u54_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_mouseOver.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_normal.png");
}

* html .u56_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_mouseOver.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_normal.png");
}

* html .u58_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_mouseOver.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_normal.png");
}

* html .u60_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_mouseOver.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u50_normal.png");
}

* html .u62_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u62_mouseOver.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u62_normal.png");
}

* html .u68_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u68_line.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u70_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u72_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u72_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u78_normal.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u81_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u78_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u87_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u90_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u92_normal.png");
}

* html .u95_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u95_line.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u98_normal.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u101_normal.png");
}

* html .u103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u78_normal.png");
}

* html .u105_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u78_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u78_normal.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u78_normal.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="warning_signs_on_hover_files/u81_normal.png");
}

