* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u0_normal.png");
}

* html .u2_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u2_mouseOver.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u2_normal.png");
}

* html .u4_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u4_mouseOver.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u4_normal.png");
}

* html .u7_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u7_mouseOver.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u7_normal.png");
}

* html .u9_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u9_mouseOver.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u9_normal.png");
}

* html .u11_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u11_mouseOver.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u13_normal.png");
}

* html .u15_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u15_mouseOver.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u15_normal.png");
}

* html .u17_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u17_mouseOver.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u17_normal.png");
}

* html .u20_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_mouseOver.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_normal.png");
}

* html .u22_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_mouseOver.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_normal.png");
}

* html .u24_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u24_mouseOver.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u24_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u13_normal.png");
}

* html .u28_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u28_mouseOver.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u28_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u13_normal.png");
}

* html .u32_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u32_mouseOver.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u32_normal.png");
}

* html .u34_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u34_mouseOver.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u34_normal.png");
}

* html .u36_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u36_mouseOver.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u36_normal.png");
}

* html .u38_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u38_mouseOver.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u13_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u13_normal.png");
}

* html .u44_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_mouseOver.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u46_normal.png");
}

* html .u48_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u48_menu.png");
}

* html .u50_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_mouseOver.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_normal.png");
}

* html .u52_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_mouseOver.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_normal.png");
}

* html .u54_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_mouseOver.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_normal.png");
}

* html .u56_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_mouseOver.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_normal.png");
}

* html .u58_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_mouseOver.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_normal.png");
}

* html .u60_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_mouseOver.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u50_normal.png");
}

* html .u62_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u62_mouseOver.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u62_normal.png");
}

* html .u66_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u66_line.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u67_normal.png");
}

* html .u70_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_mouseOver.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u20_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u73_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u75_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u77_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u79_normal.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u81_normal.png");
}

* html .u84_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u84_line.png");
}

* html .u85_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u85_line.png");
}

* html .u86_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u86_line.png");
}

* html .u87_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u87_line.png");
}

* html .u88_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u88_line.png");
}

* html .u89_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u89_line.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u90_normal.png");
}

* html .u97_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u75_normal.png");
}

* html .u99_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u77_normal.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u79_normal.png");
}

* html .u103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u81_normal.png");
}

* html .u106_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u106_line.png");
}

* html .u107_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u107_line.png");
}

* html .u108_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u108_line.png");
}

* html .u109_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u109_line.png");
}

* html .u110_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u110_line.png");
}

* html .u111_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u111_line.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u75_normal.png");
}

* html .u119_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u77_normal.png");
}

* html .u121_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u79_normal.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u81_normal.png");
}

* html .u126_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u126_line.png");
}

* html .u127_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u127_line.png");
}

* html .u128_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u128_line.png");
}

* html .u129_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u129_line.png");
}

* html .u130_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u130_line.png");
}

* html .u131_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u131_line.png");
}

* html .u132_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u132_normal.png");
}

* html .u134_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u134_normal.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u136_normal.png");
}

* html .u138_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u138_normal.png");
}

* html .u140_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u140_normal.png");
}

* html .u142_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u142_normal.png");
}

* html .u144_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u144_normal.png");
}

* html .u146_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u146_normal.png");
}

* html .u148_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u148_line.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u149_normal.png");
}

* html .u151_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u151_normal.png");
}

* html .u153_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u153_normal.png");
}

* html .u155_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u155_normal.png");
}

* html .u158_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u158_normal.png");
}

* html .u161_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_files/u161_normal.png");
}

