body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u1 {
    position:absolute;
    left:268px;
    top:140px;
    width:801px;
    height:298px;
    overflow:hidden;
}

#pd1u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:298px;
    
}

.u2_normal {
    background-image: url('../New_Page_6_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:297px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:303px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../New_Page_6_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:337px;
    top:157px;
    width:88px;
    height:69px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:69px;
}

.u5 {
    position:absolute;
    left:2px;
    top:26px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:229px;
    top:361px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:334px;
    top:136px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:314px;
    top:226px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:298px;
    
}

.u9_normal {
    background-image: url('../New_Page_6_files/u2_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:297px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:303px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:778px;
    top:203px;
    width:201px;
    height:175px;
    overflow:hidden;
}

#pd1u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:175px;
    
}

#u12 {
    position:absolute;
    left:0px;
    top:-9px;
    width:198px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13_normal {
    background-image: url('../New_Page_6_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:11px;
    top:4px;
    width:171px;
    height:24px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:30px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:167px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../New_Page_6_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:115px;
    width:180px;
    height:24px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:30px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../New_Page_6_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:10px;
    top:141px;
    width:180px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:16px;
    top:149px;
    width:78px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../New_Page_6_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u20 {
    position:absolute;
    left:91px;
    top:147px;
    width:10px;
    height:15px;
    
}

.u21 {
    position:absolute;
    left:104px;
    top:149px;
    width:86px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:175px;
    
}

.u22_normal {
    background-image: url('../New_Page_6_files/u15_normal.png');
}

.u22_container {
    position:absolute;
    left:11px;
    top:4px;
    width:180px;
    height:24px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:30px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../New_Page_6_files/u15_normal.png');
}

.u24_container {
    position:absolute;
    left:10px;
    top:115px;
    width:180px;
    height:24px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:30px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../New_Page_6_files/u17_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:141px;
    width:180px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:149px;
    width:78px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../New_Page_6_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u29 {
    position:absolute;
    left:91px;
    top:147px;
    width:10px;
    height:15px;
    
}

.u30 {
    position:absolute;
    left:104px;
    top:149px;
    width:86px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../New_Page_6_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1149px;
    height:44px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1149px;
    height:44px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:1145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../New_Page_6_files/u33_mouseOver.png');
}

.u33_normal {
    background-image: url('../New_Page_6_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:278px;
    top:5px;
    width:33px;
    height:43px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u34 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../New_Page_6_files/u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../New_Page_6_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:317px;
    top:5px;
    width:33px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:363px;
    top:11px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_mouseOver {
    background-image: url('../New_Page_6_files/u38_mouseOver.png');
}

.u38_normal {
    background-image: url('../New_Page_6_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:476px;
    top:0px;
    width:33px;
    height:43px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../New_Page_6_files/u40_mouseOver.png');
}

.u40_normal {
    background-image: url('../New_Page_6_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:512px;
    top:0px;
    width:33px;
    height:43px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../New_Page_6_files/u42_mouseOver.png');
}

.u42_normal {
    background-image: url('../New_Page_6_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:546px;
    top:0px;
    width:33px;
    height:43px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../New_Page_6_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:583px;
    top:1px;
    width:10px;
    height:42px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../New_Page_6_files/u46_mouseOver.png');
}

.u46_normal {
    background-image: url('../New_Page_6_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:593px;
    top:0px;
    width:33px;
    height:43px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u47 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../New_Page_6_files/u48_mouseOver.png');
}

.u48_normal {
    background-image: url('../New_Page_6_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:635px;
    top:0px;
    width:33px;
    height:43px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:170px;
    top:14px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../New_Page_6_files/u51_mouseOver.png');
}

.u51_normal {
    background-image: url('../New_Page_6_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:14px;
    top:9px;
    width:60px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../New_Page_6_files/u51_mouseOver.png');
}

.u53_normal {
    background-image: url('../New_Page_6_files/u51_normal.png');
}

.u53_container {
    position:absolute;
    left:91px;
    top:9px;
    width:60px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../New_Page_6_files/u55_mouseOver.png');
}

.u55_normal {
    background-image: url('../New_Page_6_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:678px;
    top:1px;
    width:33px;
    height:43px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u56 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../New_Page_6_files/u44_normal.png');
}

.u57_container {
    position:absolute;
    left:666px;
    top:1px;
    width:10px;
    height:42px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u58 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../New_Page_6_files/u59_mouseOver.png');
}

.u59_normal {
    background-image: url('../New_Page_6_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:720px;
    top:1px;
    width:33px;
    height:43px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u60 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../New_Page_6_files/u44_normal.png');
}

.u61_container {
    position:absolute;
    left:759px;
    top:1px;
    width:10px;
    height:42px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u62 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../New_Page_6_files/u63_mouseOver.png');
}

.u63_normal {
    background-image: url('../New_Page_6_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:778px;
    top:0px;
    width:33px;
    height:43px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u64 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../New_Page_6_files/u65_mouseOver.png');
}

.u65_normal {
    background-image: url('../New_Page_6_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:822px;
    top:0px;
    width:33px;
    height:43px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u66 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../New_Page_6_files/u67_mouseOver.png');
}

.u67_normal {
    background-image: url('../New_Page_6_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:867px;
    top:0px;
    width:33px;
    height:43px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u68 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_mouseOver {
    background-image: url('../New_Page_6_files/u69_mouseOver.png');
}

.u69_normal {
    background-image: url('../New_Page_6_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:906px;
    top:0px;
    width:33px;
    height:43px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u70 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../New_Page_6_files/u44_normal.png');
}

.u71_container {
    position:absolute;
    left:860px;
    top:1px;
    width:10px;
    height:42px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../New_Page_6_files/u44_normal.png');
}

.u73_container {
    position:absolute;
    left:945px;
    top:0px;
    width:10px;
    height:42px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_mouseOver {
    background-image: url('../New_Page_6_files/u51_mouseOver.png');
}

.u75_normal {
    background-image: url('../New_Page_6_files/u51_normal.png');
}

.u75_container {
    position:absolute;
    left:1055px;
    top:7px;
    width:60px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:0px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../New_Page_6_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:9px;
    top:64px;
    width:199px;
    height:23px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:29px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_menu {
    background-image: url('../New_Page_6_files/u79_menu.png');
}

.u79_menu {
    position:absolute;
    left:6px;
    top:84px;
    width:208px;
    height:212px;
}

#u79_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:209px;
}

#u80 {
    position:absolute;
    left:3px;
    top:3px;
    width:198px;
    height:202px
}

.u81_mouseOver {
    background-image: url('../New_Page_6_files/u81_mouseOver.png');
}

.u81_normal {
    background-image: url('../New_Page_6_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:29px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_mouseOver {
    background-image: url('../New_Page_6_files/u81_mouseOver.png');
}

.u83_normal {
    background-image: url('../New_Page_6_files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:29px;
    width:193px;
    height:29px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_mouseOver {
    background-image: url('../New_Page_6_files/u81_mouseOver.png');
}

.u85_normal {
    background-image: url('../New_Page_6_files/u81_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:58px;
    width:193px;
    height:29px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_mouseOver {
    background-image: url('../New_Page_6_files/u81_mouseOver.png');
}

.u87_normal {
    background-image: url('../New_Page_6_files/u81_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:87px;
    width:193px;
    height:29px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../New_Page_6_files/u81_mouseOver.png');
}

.u89_normal {
    background-image: url('../New_Page_6_files/u81_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:116px;
    width:193px;
    height:29px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_mouseOver {
    background-image: url('../New_Page_6_files/u81_mouseOver.png');
}

.u91_normal {
    background-image: url('../New_Page_6_files/u81_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:145px;
    width:193px;
    height:29px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_mouseOver {
    background-image: url('../New_Page_6_files/u93_mouseOver.png');
}

.u93_normal {
    background-image: url('../New_Page_6_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:174px;
    width:193px;
    height:23px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:29px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:266px;
    top:92px;
    width:389px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_line {
    background-image: url('../New_Page_6_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:0px;
    top:4px;
    width:820px;
    height:3px;
}

.u96 {
    position:absolute;
    left:264px;
    top:122px;
    width:820px;
    height:10px;
    
}

#u97 {
    position:absolute;
    left:834px;
    top:241px;
    width:97px;
    height:78px;
    overflow:hidden;
}

#pd1u97 {
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:78px;
    
}

.u98_normal {
    background-image: url('../New_Page_6_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:74px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:74px;
}

.u99 {
    position:absolute;
    left:2px;
    top:29px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u97 {
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:78px;
    
}

.u100_normal {
    background-image: url('../New_Page_6_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:65px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:65px;
}

.u101 {
    position:absolute;
    left:2px;
    top:24px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u102 {
    position:absolute;
    left:837px;
    top:241px;
    width:90px;
    height:66px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

