body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../R2D2_advanced_options_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1420px;
    height:804px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1420px;
    height:804px;
}

.u1 {
    position:absolute;
    left:2px;
    top:394px;
    width:1416px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../R2D2_advanced_options_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:1399px;
    top:1px;
    width:20px;
    height:27px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:33px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:1179px;
    top:1px;
    width:242px;
    height:101px;
    overflow:hidden;
}

#pd2u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:101px;
    
}

.u5_normal {
    background-image: url('../R2D2_advanced_options_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:29px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:35px;
}

.u6 {
    position:absolute;
    left:2px;
    top:7px;
    width:236px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../R2D2_advanced_options_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:29px;
    width:240px;
    height:70px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:76px;
}

.u8 {
    position:absolute;
    left:2px;
    top:27px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_image_sketch {
    background-image: url('../R2D2_advanced_options_files/u9_image_sketch.png');
    position:absolute;
    left:6px;
    top:60px;
    width:98px;
    height:31px;
}

.u9 {
    position:absolute;
    left:9px;
    top:63px;
    width:92px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 10px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_image_sketch {
    background-image: url('../R2D2_advanced_options_files/u10_image_sketch.png');
    position:absolute;
    left:130px;
    top:60px;
    width:98px;
    height:31px;
}

.u10 {
    position:absolute;
    left:133px;
    top:63px;
    width:92px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 10px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:39px;
    top:34px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:101px;
    
}

.u12_normal {
    background-image: url('../R2D2_advanced_options_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:29px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:35px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:236px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:101px;
    
}

.u14_normal {
    background-image: url('../R2D2_advanced_options_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:219px;
    top:0px;
    width:21px;
    height:29px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:35px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

