body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:263px;
    top:79px;
    width:821px;
    height:41px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:821px;
    height:41px;
    
}

.u1 {
    position:absolute;
    left:2px;
    top:0px;
    width:389px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Semantics_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:820px;
    height:3px;
}

.u2 {
    position:absolute;
    left:0px;
    top:30px;
    width:820px;
    height:10px;
    
}

.u3_normal {
    background-image: url('../Semantics_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1149px;
    height:44px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1149px;
    height:44px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:1145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_mouseOver {
    background-image: url('../Semantics_files/u5_mouseOver.png');
}

.u5_normal {
    background-image: url('../Semantics_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:278px;
    top:5px;
    width:33px;
    height:43px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../Semantics_files/u7_mouseOver.png');
}

.u7_normal {
    background-image: url('../Semantics_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:317px;
    top:5px;
    width:33px;
    height:43px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:363px;
    top:11px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_mouseOver {
    background-image: url('../Semantics_files/u10_mouseOver.png');
}

.u10_normal {
    background-image: url('../Semantics_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:476px;
    top:0px;
    width:33px;
    height:43px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../Semantics_files/u12_mouseOver.png');
}

.u12_normal {
    background-image: url('../Semantics_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:512px;
    top:0px;
    width:33px;
    height:43px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_mouseOver {
    background-image: url('../Semantics_files/u14_mouseOver.png');
}

.u14_normal {
    background-image: url('../Semantics_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:546px;
    top:0px;
    width:33px;
    height:43px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Semantics_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:583px;
    top:1px;
    width:10px;
    height:42px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_mouseOver {
    background-image: url('../Semantics_files/u18_mouseOver.png');
}

.u18_normal {
    background-image: url('../Semantics_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:593px;
    top:0px;
    width:33px;
    height:43px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../Semantics_files/u20_mouseOver.png');
}

.u20_normal {
    background-image: url('../Semantics_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:635px;
    top:0px;
    width:33px;
    height:43px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:170px;
    top:14px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../Semantics_files/u23_mouseOver.png');
}

.u23_normal {
    background-image: url('../Semantics_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:14px;
    top:9px;
    width:60px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../Semantics_files/u23_mouseOver.png');
}

.u25_normal {
    background-image: url('../Semantics_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:91px;
    top:9px;
    width:60px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../Semantics_files/u27_mouseOver.png');
}

.u27_normal {
    background-image: url('../Semantics_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:678px;
    top:1px;
    width:33px;
    height:43px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u28 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Semantics_files/u16_normal.png');
}

.u29_container {
    position:absolute;
    left:666px;
    top:1px;
    width:10px;
    height:42px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_mouseOver {
    background-image: url('../Semantics_files/u31_mouseOver.png');
}

.u31_normal {
    background-image: url('../Semantics_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:720px;
    top:1px;
    width:33px;
    height:43px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Semantics_files/u16_normal.png');
}

.u33_container {
    position:absolute;
    left:759px;
    top:1px;
    width:10px;
    height:42px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../Semantics_files/u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../Semantics_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:778px;
    top:0px;
    width:33px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../Semantics_files/u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../Semantics_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:822px;
    top:0px;
    width:33px;
    height:43px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u38 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../Semantics_files/u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../Semantics_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:867px;
    top:0px;
    width:33px;
    height:43px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u40 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Semantics_files/u16_normal.png');
}

.u41_container {
    position:absolute;
    left:860px;
    top:1px;
    width:10px;
    height:42px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Semantics_files/u16_normal.png');
}

.u43_container {
    position:absolute;
    left:945px;
    top:0px;
    width:10px;
    height:42px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../Semantics_files/u23_mouseOver.png');
}

.u45_normal {
    background-image: url('../Semantics_files/u23_normal.png');
}

.u45_container {
    position:absolute;
    left:1055px;
    top:7px;
    width:60px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Semantics_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:9px;
    top:64px;
    width:199px;
    height:23px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:29px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_menu {
    background-image: url('../Semantics_files/u49_menu.png');
}

.u49_menu {
    position:absolute;
    left:6px;
    top:84px;
    width:208px;
    height:212px;
}

#u49_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:209px;
}

#u50 {
    position:absolute;
    left:3px;
    top:3px;
    width:198px;
    height:202px
}

.u51_mouseOver {
    background-image: url('../Semantics_files/u51_mouseOver.png');
}

.u51_normal {
    background-image: url('../Semantics_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:29px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../Semantics_files/u51_mouseOver.png');
}

.u53_normal {
    background-image: url('../Semantics_files/u51_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:29px;
    width:193px;
    height:29px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../Semantics_files/u51_mouseOver.png');
}

.u55_normal {
    background-image: url('../Semantics_files/u51_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:58px;
    width:193px;
    height:29px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_mouseOver {
    background-image: url('../Semantics_files/u51_mouseOver.png');
}

.u57_normal {
    background-image: url('../Semantics_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:87px;
    width:193px;
    height:29px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../Semantics_files/u51_mouseOver.png');
}

.u59_normal {
    background-image: url('../Semantics_files/u51_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:116px;
    width:193px;
    height:29px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../Semantics_files/u51_mouseOver.png');
}

.u61_normal {
    background-image: url('../Semantics_files/u51_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:145px;
    width:193px;
    height:29px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../Semantics_files/u63_mouseOver.png');
}

.u63_normal {
    background-image: url('../Semantics_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:174px;
    width:193px;
    height:23px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:29px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:16px;
    top:0px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:265px;
    top:119px;
    width:801px;
    height:132px;
    overflow:hidden;
}

#pd2u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:132px;
    
}

.u69_normal {
    background-image: url('../Semantics_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:131px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:137px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_line {
    background-image: url('../Semantics_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:0px;
    top:4px;
    width:28px;
    height:3px;
}

.u71 {
    position:absolute;
    left:425px;
    top:25px;
    width:28px;
    height:10px;
    
}

#pd1u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:132px;
    
}

.u72_normal {
    background-image: url('../Semantics_files/u69_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:131px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:137px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:132px;
    
}

.u74_normal {
    background-image: url('../Semantics_files/u69_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:131px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:137px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:420px;
    top:20px;
    width:43px;
    height:10px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u77 {
    position:absolute;
    left:266px;
    top:87px;
    width:209px;
    height:16px;
    overflow:hidden;
}

#pd0u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:16px;
    
}

.u78 {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_mouseOver {
    background-image: url('../Semantics_files/u79_mouseOver.png');
}

.u79_normal {
    background-image: url('../Semantics_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:959px;
    top:-1px;
    width:33px;
    height:42px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:13px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_mouseOver {
    background-image: url('../Semantics_files/u81_mouseOver.png');
}

.u81_normal {
    background-image: url('../Semantics_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:906px;
    top:0px;
    width:33px;
    height:43px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u82 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u83 {
    position:absolute;
    left:266px;
    top:98px;
    width:201px;
    height:73px;
    overflow:hidden;
}

#pd1u83 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:73px;
    
}

#u84 {
    position:absolute;
    left:39px;
    top:-10px;
    width:118px;
    height:79px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u85_normal {
    background-image: url('../Semantics_files/title_menu_u85_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:150px;
    width:175px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:4px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_mouseOver {
    background-image: url('../Semantics_files/title_icon_u87_mouseOver.png');
}

.u87_normal {
    background-image: url('../Semantics_files/title_icon_u87_normal.png');
}

.u87_container {
    position:absolute;
    left:5px;
    top:154px;
    width:21px;
    height:15px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:21px;
}

.u88 {
    position:absolute;
    left:2px;
    top:0px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../Semantics_files/title_icon_u87_mouseOver.png');
}

.u89_normal {
    background-image: url('../Semantics_files/title_icon_u87_normal.png');
}

.u89_container {
    position:absolute;
    left:39px;
    top:154px;
    width:21px;
    height:15px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:21px;
}

.u90 {
    position:absolute;
    left:2px;
    top:0px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_mouseOver {
    background-image: url('../Semantics_files/u91_mouseOver.png');
}

.u91_normal {
    background-image: url('../Semantics_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:73px;
    top:154px;
    width:26px;
    height:15px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:21px;
}

.u92 {
    position:absolute;
    left:2px;
    top:0px;
    width:22px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_line {
    background-image: url('../Semantics_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u93 {
    position:absolute;
    left:109px;
    top:154px;
    width:10px;
    height:15px;
    
}

.u94_mouseOver {
    background-image: url('../Semantics_files/u94_mouseOver.png');
}

.u94_normal {
    background-image: url('../Semantics_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:151px;
    top:152px;
    width:18px;
    height:17px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:17px;
}

.u95 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_mouseOver {
    background-image: url('../Semantics_files/u96_mouseOver.png');
}

.u96_normal {
    background-image: url('../Semantics_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:123px;
    top:152px;
    width:18px;
    height:17px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:17px;
}

.u97 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u98 {
    position:absolute;
    left:105px;
    top:150px;
    width:14px;
    height:19px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u99_menu {
    background-image: url('../Semantics_files/u99_menu.png');
}

.u99_menu {
    position:absolute;
    left:55px;
    top:-3px;
    width:92px;
    height:69px;
}

#u99_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:66px;
}

#u100 {
    position:absolute;
    left:3px;
    top:3px;
    width:82px;
    height:59px
}

.u101_normal {
    background-image: url('../Semantics_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:18px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:24px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Semantics_files/u101_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:18px;
    width:77px;
    height:18px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:24px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Semantics_files/u101_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:36px;
    width:77px;
    height:18px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:24px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u83 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:73px;
    
}

.u107_line {
    background-image: url('../Semantics_files/title_hint_u107_line.png');
}

.u107_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u107 {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:10px;
    
}

#u108 {
    position:absolute;
    left:626px;
    top:179px;
    width:137px;
    height:51px;
    overflow:hidden;
}

#pd2u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:51px;
    
}

#u109 {
    position:absolute;
    left:0px;
    top:0px;
    width:133px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u110_menu {
    background-image: url('../Semantics_files/u110_menu.png');
}

.u110_menu {
    position:absolute;
    left:4px;
    top:-3px;
    width:135px;
    height:35px;
}

#u110_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:32px;
}

#u111 {
    position:absolute;
    left:3px;
    top:3px;
    width:125px;
    height:25px
}

.u112_normal {
    background-image: url('../Semantics_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:51px;
    
}

.u114_menu {
    background-image: url('../Semantics_files/u114_menu.png');
}

.u114_menu {
    position:absolute;
    left:6px;
    top:-3px;
    width:135px;
    height:55px;
}

#u114_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:52px;
}

#u115 {
    position:absolute;
    left:3px;
    top:3px;
    width:125px;
    height:45px
}

.u116_normal {
    background-image: url('../Semantics_files/u112_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Semantics_files/u112_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:20px;
    width:120px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Semantics_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:119px;
    top:27px;
    width:5px;
    height:11px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:17px;
}

.u121 {
    position:absolute;
    left:2px;
    top:-2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:51px;
    
}

.u122_line {
    background-image: url('../Semantics_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:0px;
    top:4px;
    width:100px;
    height:3px;
}

.u122 {
    position:absolute;
    left:18px;
    top:-3px;
    width:100px;
    height:10px;
    
}

#u123 {
    position:absolute;
    left:623px;
    top:150px;
    width:230px;
    height:110px;
    overflow:hidden;
}

#pd0u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:110px;
    
}

#u124 {
    position:absolute;
    left:0px;
    top:5px;
    width:227px;
    height:101px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u125 {
    position:absolute;
    left:9px;
    top:5px;
    width:127px;
    height:49px;
    overflow:hidden;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:49px;
    
}

.u126_menu {
    background-image: url('../Semantics_files/u126_menu.png');
}

.u126_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:55px;
}

#u126_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:52px;
}

#u127 {
    position:absolute;
    left:3px;
    top:3px;
    width:125px;
    height:45px
}

.u128_mouseOver {
    background-image: url('../Semantics_files/u128_mouseOver.png');
}

.u128_normal {
    background-image: url('../Semantics_files/u112_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_mouseOver {
    background-image: url('../Semantics_files/u128_mouseOver.png');
}

.u130_normal {
    background-image: url('../Semantics_files/u112_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:20px;
    width:120px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:26px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Semantics_files/u120_normal.png');
}

.u132_container {
    position:absolute;
    left:110px;
    top:27px;
    width:5px;
    height:11px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:17px;
}

.u133 {
    position:absolute;
    left:2px;
    top:-2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u134 {
    position:absolute;
    left:135px;
    top:35px;
    width:81px;
    height:48px;
    overflow:hidden;
}

#pd0u134 {
    position:absolute;
    left:0px;
    top:0px;
    width:81px;
    height:48px;
    
}

.u135_menu {
    background-image: url('../Semantics_files/u135_menu.png');
}

.u135_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:55px;
}

#u135_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:52px;
}

#u136 {
    position:absolute;
    left:3px;
    top:3px;
    width:79px;
    height:45px
}

.u137_mouseOver {
    background-image: url('../Semantics_files/u137_mouseOver.png');
}

.u137_normal {
    background-image: url('../Semantics_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_mouseOver {
    background-image: url('../Semantics_files/u137_mouseOver.png');
}

.u139_normal {
    background-image: url('../Semantics_files/u137_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:20px;
    width:74px;
    height:20px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u141 {
    position:absolute;
    left:67px;
    top:-4px;
    width:31px;
    height:11px;
    overflow:hidden;
}

#pd0u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:11px;
    
}

.u142_line {
    background-image: url('../Semantics_files/u142_line.png');
}

.u142_line {
    position:absolute;
    left:0px;
    top:4px;
    width:30px;
    height:3px;
}

.u142 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:10px;
    
}

#u143 {
    position:absolute;
    left:266px;
    top:239px;
    width:801px;
    height:132px;
    overflow:hidden;
}

#pd0u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:132px;
    
}

.u144_normal {
    background-image: url('../Semantics_files/u69_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:131px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:137px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:346px;
    top:232px;
    width:611px;
    height:71px;
    overflow:hidden;
}

#pd1u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:611px;
    height:71px;
    
}

.u147 {
    position:absolute;
    left:105px;
    top:12px;
    width:112px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:215px;
    top:12px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u149 {
    position:absolute;
    left:23px;
    top:0px;
    width:431px;
    height:44px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:611px;
    height:71px;
    
}

#u150 {
    position:absolute;
    left:9px;
    top:0px;
    width:596px;
    height:80px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u151_normal {
    background-image: url('../Semantics_files/u151_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:2px;
    width:591px;
    height:66px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:597px;
    height:72px;
}

.u152 {
    position:absolute;
    left:2px;
    top:25px;
    width:587px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:16px;
    top:11px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u154 {
    position:absolute;
    left:124px;
    top:7px;
    width:161px;
    height:23px;
    overflow:hidden;
}

#pd1u154 {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:23px;
    
}

.u155 {
    position:absolute;
    left:8px;
    top:4px;
    width:151px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u154 {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:23px;
    
}

.u156_normal {
    background-image: url('../Semantics_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:18px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:24px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:193px;
    top:39px;
    width:100px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u159 {
    position:absolute;
    left:328px;
    top:38px;
    width:256px;
    height:25px;
    overflow:hidden;
}

#pd1u159 {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:25px;
    
}

#pd0u159 {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:25px;
    
}

.u161 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

