body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../case_2b_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:64px;
    width:199px;
    height:23px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:29px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:195px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../case_2b_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:6px;
    top:84px;
    width:208px;
    height:212px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:205px;
    height:209px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:198px;
    height:202px
}

.u4_mouseOver {
    background-image: url('../case_2b_files/u4_mouseOver.png');
}

.u4_normal {
    background-image: url('../case_2b_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:29px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../case_2b_files/u4_mouseOver.png');
}

.u6_normal {
    background-image: url('../case_2b_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:29px;
    width:193px;
    height:29px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../case_2b_files/u4_mouseOver.png');
}

.u8_normal {
    background-image: url('../case_2b_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:58px;
    width:193px;
    height:29px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_mouseOver {
    background-image: url('../case_2b_files/u4_mouseOver.png');
}

.u10_normal {
    background-image: url('../case_2b_files/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:87px;
    width:193px;
    height:29px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../case_2b_files/u4_mouseOver.png');
}

.u12_normal {
    background-image: url('../case_2b_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:116px;
    width:193px;
    height:29px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_mouseOver {
    background-image: url('../case_2b_files/u4_mouseOver.png');
}

.u14_normal {
    background-image: url('../case_2b_files/u4_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:145px;
    width:193px;
    height:29px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:35px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../case_2b_files/u16_mouseOver.png');
}

.u16_normal {
    background-image: url('../case_2b_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:174px;
    width:193px;
    height:23px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:29px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:16px;
    top:0px;
    width:122px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../case_2b_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1149px;
    height:44px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1149px;
    height:44px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:1145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../case_2b_files/u22_mouseOver.png');
}

.u22_normal {
    background-image: url('../case_2b_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:278px;
    top:5px;
    width:33px;
    height:43px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../case_2b_files/u24_mouseOver.png');
}

.u24_normal {
    background-image: url('../case_2b_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:317px;
    top:5px;
    width:33px;
    height:43px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:363px;
    top:11px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_mouseOver {
    background-image: url('../case_2b_files/u27_mouseOver.png');
}

.u27_normal {
    background-image: url('../case_2b_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:476px;
    top:0px;
    width:33px;
    height:43px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u28 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../case_2b_files/u29_mouseOver.png');
}

.u29_normal {
    background-image: url('../case_2b_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:512px;
    top:0px;
    width:33px;
    height:43px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_mouseOver {
    background-image: url('../case_2b_files/u31_mouseOver.png');
}

.u31_normal {
    background-image: url('../case_2b_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:546px;
    top:0px;
    width:33px;
    height:43px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../case_2b_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:583px;
    top:1px;
    width:10px;
    height:42px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../case_2b_files/u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../case_2b_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:593px;
    top:0px;
    width:33px;
    height:43px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../case_2b_files/u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../case_2b_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:635px;
    top:0px;
    width:33px;
    height:43px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u38 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../case_2b_files/u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../case_2b_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:14px;
    top:9px;
    width:60px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../case_2b_files/u39_mouseOver.png');
}

.u41_normal {
    background-image: url('../case_2b_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:91px;
    top:9px;
    width:60px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../case_2b_files/u43_mouseOver.png');
}

.u43_normal {
    background-image: url('../case_2b_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:678px;
    top:1px;
    width:33px;
    height:43px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u44 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../case_2b_files/u33_normal.png');
}

.u45_container {
    position:absolute;
    left:666px;
    top:1px;
    width:10px;
    height:42px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u46 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../case_2b_files/u47_mouseOver.png');
}

.u47_normal {
    background-image: url('../case_2b_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:720px;
    top:1px;
    width:33px;
    height:43px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u48 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../case_2b_files/u33_normal.png');
}

.u49_container {
    position:absolute;
    left:759px;
    top:1px;
    width:10px;
    height:42px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../case_2b_files/u51_mouseOver.png');
}

.u51_normal {
    background-image: url('../case_2b_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:778px;
    top:0px;
    width:33px;
    height:43px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u52 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../case_2b_files/u53_mouseOver.png');
}

.u53_normal {
    background-image: url('../case_2b_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:822px;
    top:0px;
    width:33px;
    height:43px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u54 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../case_2b_files/u55_mouseOver.png');
}

.u55_normal {
    background-image: url('../case_2b_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:867px;
    top:0px;
    width:33px;
    height:43px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u56 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_mouseOver {
    background-image: url('../case_2b_files/u57_mouseOver.png');
}

.u57_normal {
    background-image: url('../case_2b_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:906px;
    top:0px;
    width:33px;
    height:43px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:43px;
}

.u58 {
    position:absolute;
    left:2px;
    top:14px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../case_2b_files/u33_normal.png');
}

.u59_container {
    position:absolute;
    left:860px;
    top:1px;
    width:10px;
    height:42px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../case_2b_files/u33_normal.png');
}

.u61_container {
    position:absolute;
    left:945px;
    top:0px;
    width:10px;
    height:42px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:42px;
}

.u62 {
    position:absolute;
    left:2px;
    top:13px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../case_2b_files/u39_mouseOver.png');
}

.u63_normal {
    background-image: url('../case_2b_files/u39_normal.png');
}

.u63_container {
    position:absolute;
    left:1055px;
    top:7px;
    width:60px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:0px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:266px;
    top:92px;
    width:389px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_line {
    background-image: url('../case_2b_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:0px;
    top:4px;
    width:820px;
    height:3px;
}

.u67 {
    position:absolute;
    left:264px;
    top:122px;
    width:820px;
    height:10px;
    
}

#u68 {
    position:absolute;
    left:266px;
    top:145px;
    width:801px;
    height:132px;
    overflow:hidden;
}

#pd1u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:132px;
    
}

.u69_normal {
    background-image: url('../case_2b_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:131px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:137px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_line {
    background-image: url('../case_2b_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u71 {
    position:absolute;
    left:683px;
    top:17px;
    width:10px;
    height:15px;
    
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:801px;
    height:132px;
    
}

.u72_normal {
    background-image: url('../case_2b_files/u69_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:131px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:137px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:796px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../case_2b_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:15px;
}

.u74 {
    position:absolute;
    left:478px;
    top:17px;
    width:10px;
    height:15px;
    
}

#u75 {
    position:absolute;
    left:406px;
    top:92px;
    width:527px;
    height:507px;
    overflow:hidden;
}

#pd0u75 {
    position:absolute;
    left:0px;
    top:0px;
    width:527px;
    height:507px;
    
}

.u76_normal {
    background-image: url('../case_2b_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:0px;
    width:526px;
    height:487px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:532px;
    height:493px;
}

.u77 {
    position:absolute;
    left:2px;
    top:236px;
    width:522px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:87px;
    top:187px;
    width:230px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../case_2b_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:87px;
    top:208px;
    width:379px;
    height:216px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:385px;
    height:222px;
}

.u80 {
    position:absolute;
    left:2px;
    top:100px;
    width:375px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:87px;
    top:124px;
    width:139px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:87px;
    top:144px;
    width:379px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83_mouseOver {
    background-image: url('../case_2b_files/u83_mouseOver.png');
}

.u83_normal {
    background-image: url('../case_2b_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:145px;
    top:456px;
    width:100px;
    height:16px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:22px;
}

.u84 {
    position:absolute;
    left:2px;
    top:0px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_mouseOver {
    background-image: url('../case_2b_files/u83_mouseOver.png');
}

.u85_normal {
    background-image: url('../case_2b_files/u83_normal.png');
}

.u85_container {
    position:absolute;
    left:290px;
    top:455px;
    width:100px;
    height:16px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:22px;
}

.u86 {
    position:absolute;
    left:2px;
    top:0px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:244px;
    top:5px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:400px;
    top:172px;
    width:69px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:38px;
    top:45px;
    width:428px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:39px;
    top:30px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:16px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:113px;
    top:214px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:154px;
    top:214px;
    width:19px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_line {
    background-image: url('../case_2b_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u97 {
    position:absolute;
    left:171px;
    top:213px;
    width:10px;
    height:16px;
    
}

.u98 {
    position:absolute;
    left:184px;
    top:214px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../case_2b_files/u99_line.png');
}

.u99_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u99 {
    position:absolute;
    left:232px;
    top:213px;
    width:10px;
    height:16px;
    
}

.u100 {
    position:absolute;
    left:244px;
    top:214px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_line {
    background-image: url('../case_2b_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u101 {
    position:absolute;
    left:287px;
    top:213px;
    width:10px;
    height:16px;
    
}

.u102 {
    position:absolute;
    left:297px;
    top:214px;
    width:49px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_line {
    background-image: url('../case_2b_files/u103_line.png');
}

.u103_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u103 {
    position:absolute;
    left:336px;
    top:213px;
    width:10px;
    height:16px;
    
}

.u104 {
    position:absolute;
    left:348px;
    top:214px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_line {
    background-image: url('../case_2b_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u105 {
    position:absolute;
    left:407px;
    top:213px;
    width:10px;
    height:16px;
    
}

.u106 {
    position:absolute;
    left:418px;
    top:214px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:95px;
    top:242px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:174px;
    top:242px;
    width:235px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:95px;
    top:267px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:174px;
    top:266px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:95px;
    top:289px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:174px;
    top:288px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:95px;
    top:312px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:174px;
    top:312px;
    width:255px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:95px;
    top:333px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:174px;
    top:333px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:95px;
    top:355px;
    width:40px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:174px;
    top:355px;
    width:289px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:95px;
    top:378px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:174px;
    top:378px;
    width:149px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:95px;
    top:400px;
    width:72px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:174px;
    top:399px;
    width:164px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:373px;
    top:428px;
    width:98px;
    height:15px;
    overflow:hidden;
}

#pd1u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:15px;
    
}

.u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:15px;
    
}

.u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../case_2b_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:96px;
    top:83px;
    width:10px;
    height:8px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:14px;
}

.u127 {
    position:absolute;
    left:2px;
    top:-4px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:117px;
    top:76px;
    width:349px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

